.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  text-align: center;
}

.App > p {
  font-weight: 700;
}
.logo-container{
  background-color: black;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}
.cursos{
  padding: 1.5rem;
  text-align: left;
  width: 30%;
}

.cursos > li {
  list-style-type: square; 
}

.unidade {
  padding: 1.5rem;
}
